<!-- TODO: comments -->

<div class="container mt-4 p-4">
  <div class="d-flex flex-column align-items-center border p-4 box-shadow" *ngIf="trip">
    <div class="title pt-4">
      <h1>{{trip?.name}}</h1>
    </div>
    <div class="subtitle">
      <h2>{{trip?.country}}</h2>
    </div>
    <div class="d-flex flex-row justify-content-sm-around p-4 border-top">
      <div class="col-md-4">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="trip.photo" alt="Random first slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="trip.photo" alt="Random first slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="trip.photo" alt="Random first slide">
            </div>
          </ng-template>
        </ngb-carousel>
        <div class="price pt-4 d-flex flex-row justify-content-sm-between align-items-center">
          <h3>Price:</h3>
          <h5>{{trip?.price}} zł</h5>
        </div>
        <div class="d-flex flex-row justify-content-sm-between align-items-center pt-4">
          <div class="text">
            <h3>Rating: </h3>
          </div>
          <div class="rating">
            <star-rating [value]="trip?.rating" checkedcolor="orange" uncheckedcolor="black" size="20px" readonly="true"
              (rate)="onRate($event)"></star-rating>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-sm-between">
        <div class="description">
          <h3>Description:</h3>
          <hr />
          {{trip?.description}}
        </div>
        <div class="seats d-flex flex-row justify-content-sm-between align-items-center pt-2">
          <h4>Seats left: {{trip?.seatsLeft}}</h4>
          <div class="buttons">
            <div class="btn-group" role="group" aria-label="Basic example">
              <h4 class="text-danger" *ngIf="trip.seatsLeft == 0 && trip.cartCount == 0">Sold out!</h4>
              <button [ngStyle]="{'visibility': trip?.seatsLeft > 0 ? 'visible' : 'hidden' }" class="btn btn-dark"
                (click)="book()">+</button>
              <button [ngStyle]="{'visibility': (trip?.cartCount > 0) ? 'visible' : 'hidden' }" class=" btn
            btn-dark" (click)="unbook()">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons d-flex flex-row justify-content-sm-between w-100 pl-4 pr-4">
      <button type="button" class="btn btn-success" (click)="comment()">
        {{hasOrdered ? "Change review" : "Review"}}
      </button>
      <button type="button" class="btn btn-danger" (click)="goBack()">
        Go back
      </button>
    </div>
  </div>
  <div id="comments" [ngbCollapse]="isCommentsCollapsed">
    <div class="card box-shadow" *ngFor="let comment of comments">
      <div class="card-body">
        <div class="media p-2">
          <div class="d-flex align-items-center flex-row rating pr-4 border-right">
            <h1>
              <i class="fa fa-star">
              </i>{{comment?.rating}}</h1>
          </div>
          <div class="media-body ml-4">
            <div class="top d-flex flex-row justify-content-sm-between">
              <h5 class="mt-0">{{comment?.userName}} wrote:</h5>
              <h5>{{comment?.date | timeAgo}}</h5>
            </div>
            {{comment?.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-dark" (click)="isCommentsCollapsed = !isCommentsCollapsed"
    [attr.aria-expanded]="!isCommentsCollapsed" [disabled]="comments.length == 0" aria-controls="collapseExample">
    {{isCommentsCollapsed ? "Show comments" : "Hide comments"}}
  </button>
</div>
