<!-- TODO: comments -->

<div class="container mt-4 p-4">
  <div class="d-flex flex-column align-items-center border p-4 box-shadow">
    <div class="title pt-4">
      <h1>{{trip.name}}</h1>
    </div>
    <div class="d-flex flex-row justify-content-sm-around p-4 border-top">
      <div class="col-md-4">
        <div class="photo">
          <img [src]="trip.photo" class="img-fluid clickable">
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start pt-4">
          <div class="text mr-2">
            <h4>Rating: </h4>
          </div>
          <div class="rating pb-1">
            <star-rating [value]="trip.rating" checkedcolor="orange" uncheckedcolor="black" size="20px" readonly="false"
              (rate)="onRate($event)"></star-rating>
          </div>
        </div>
        <div class="seats d-flex flex-row justify-content-sm-between align-items-center pt-2">
          <h4>Seats left: {{trip.seatsLeft}}</h4>
          <div class="buttons">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-dark" [disabled]="trip.seatsLeft <= 0" (click)="book()">
                +
              </button>
              <button type="button" class="btn btn-dark" [disabled]="trip.seatsLeft >= trip.maxSeats"
                (click)="unbook()">
                -
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="subtitle pt-2">
          <h3>Country</h3>
          <hr/>
          <h5>{{trip.country}}</h5>
        </div>
        <div class="pt-2">
          <div class="cost">
            <h2>{{trip.cost}} {{trip.currency | currency}}</h2>
          </div>
          <div class="description mt-4 mb-4">
            <h3>Description</h3>
            <hr/>
            {{trip.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-dark" routerLink="" routerLinkActive="active">
      Go back
    </button>
  </div>
</div>
