<div class="container-fluid mt-4 p-4">
  <div class="d-flex flex-column align-items-center border p-4 box-shadow">
    <div class="title">
      <h2>{{user?.name}}</h2>
    </div>
    <div class="row p-4 border-top w-100">
      <div class="col-md-4 mr-4">
        <app-user-frame [userData]="user" [size]="120" *ngIf="user"></app-user-frame>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="email">
          <h3>Email:</h3>
          <hr />
          <h5>{{user?.email}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-dark" (click)="goBack()">
      Go back
    </button>
  </div>
</div>
