  .img-circle {
    border-radius: 50%;
  }

  .wrapper:hover {
    cursor: pointer;
  }

  .wrapper {
    display: block;
    flex: row;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    background-color: rgb(77, 72, 72);
    text-align: center;
    overflow: hidden;
    color: #FFFFFF;
  }

  img {
    vertical-align: 0%;
  }
