<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand clickable" style="color: white;" routerLink="" routerLinkActive="active">Trips</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>{{currentUser?.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="cart">
            Cart
            <span class="badge badge-secondary">{{cartCount}}</span>
            </button>
            <button ngbDropdownItem routerLink="history">Order history</button>
            <button ngbDropdownItem routerLink="admin" *ngIf="isAdmin">Admin panel</button>
            <button ngbDropdownItem class="text-danger border-top" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>
