.cheapest {
  border: 1px solid greenyellow;
}

.expensive {
  border: 1px solid red;
}

.default {
  border: 1px solid black;
}

body {
  overflow-x: hidden;
}

.col-md-2 {
  margin: none;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.row {
  height: 100%;
}

.drawer-container {
  height: 100%;
}
