.cheapest {
  border: 1px solid greenyellow;
}

.expensive {
  border: 1px solid red;
}

.default {
  border: 1px solid black;
}

.container-fluid {
  height: 100%;
}

.no-padding {
  padding: 0;
}

.row {
  height: 100%;
}

.drawer-container {
  height: 100%;
}