<div class="container-fluid">
  <div class="content text-center mt-4">
    <h1>Your order history</h1>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Trip</th>
          <th scope="col">Date</th>
          <th scope="col">Count</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" class="hoverable">
          <td class="align-middle" scope="row">
            <a>{{order?._id}}</a></td>
          <td class="align-middle">
            <a [routerLink]="['/app/trip', order.trip_id]">{{ order?.trip_id }}</a>
          </td>
          <td class="align-middle">{{ order?.date | timeAgo}}</td>
          <td class="align-middle">{{ order?.count }} </td>
          <td class="align-middle">{{ order?.totalPrice }}</td>
          <td class="vert-aligned">
            <button class="btn btn-danger btn-sm" (click)="cancel(order)">
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
