<div class="container border box-shadow">
  <div class="d-flex flex-column align-items-center p-4">
    <form class="login-form" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" />
      </div>
      <div class="button text-center m-4">
        <button class="btn btn-dark" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
      </div>
    </form>
    <h6>
      <div class="text">
        Not registered?
        <a class="clickable" routerLink="/register" routerLinkActive="active">Create an account</a>
      </div>
    </h6>
  </div>
</div>
