<h3 class="text-center">New trip</h3>
<hr />
<form [formGroup]="addTripForm">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label>Trip name</label>
        <input type="text" class="form-control" formControlName="name" />
        <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
          <div class="small" *ngIf="name.errors.required">
            Name is required
          </div>
          <div class="small" *ngIf="name.errors.minlength">
            Name needs at least 4 characters.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" formControlName="country" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label>Start date</label>
        <input type="date" class="form-control" formControlName="startDate" [min]="currentDate" />
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>End date</label>
        <input type="date" class="form-control" formControlName="endDate" [min]="currentDate" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" formControlName="price" />
        <div *ngIf="price.invalid && price.touched" class="alert alert-danger">
          <div class="small" *ngIf="price.errors.required">
            Price is required.
          </div>
          <div class="small" *ngIf="price.errors.badFormat">
            Price is in bad format.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label>Number of seats</label>
        <input type="number" class="form-control" formControlName="maxSeats" />
        <div *ngIf="maxSeats.invalid && maxSeats.touched" class="alert alert-danger">
          <div class="small" *ngIf="maxSeats.errors.required">
            Number of seats is required.
          </div>
          <div class="small" *ngIf="maxSeats.errors.badFormat">
            Number of seats in bad format.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" rows="5" formControlName="description"></textarea>
  </div>

  <div class="wrapper">
    <div class="text-center">
      <h5>Upload images</h5>

      <ngx-file-drop contentClassName="drop-content p-2" dropZoneClassName="drop-zone" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" multiple="true">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <button class="btn btn-primary"
            (click)="openFileSelector()">{{files.length > 0 ? "Add files" : "Choose files"}}</button>
        </ng-template>
      </ngx-file-drop>
    </div>
    <div class="upload-table" *ngIf="files.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Filename</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let item of files">
            <td>
              <div class="d-flex flex-row justify-content-sm-between align-items-center">{{ item?.relativePath }}
                <button class="btn btn-danger btn-sm" (click)="remove(item)">X</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="d-flex flex-row justify-content-sm-between">
    <button type="submit" class="btn btn-dark" [disabled]="!addTripForm.valid" (click)="submit()">
      Submit
    </button>
    <button type="close" class="btn btn-dark" matDialogClose>
      Close
    </button>
  </div>
</form>
