<div class="container-fluid pt-4 mt-4">
  <div class="pt-4 mt-4">
    <div *ngFor="let product of products" class="border mb-4 d-flex flex-row align-items-center justify-content-sm-between">
      <div class="col-2 p-4 text-center">
        <img class="img-responsive" [src]="product.photo" width="120" height="80" />
      </div>
      <div class="text-md-left col">
        <h2 class="product-name">
          <strong>{{ product.name }}</strong>
        </h2>
        <h2>
          <small>{{ product.country }}</small>
        </h2>
      </div>
      <div class="d-flex flex-column p-4">
        <div class=" form-group">
          <input class="form-control" disabled="true" type="number" step="1" max="99" min="1" [value]="0" title="Qty"
            class="qty" size="4" />
        </div>
        <div class="">
          <h3>
            <strong>{{ product.cost }} {{product.currency | currency}} </strong>
          </h3>
        </div>
      </div>
      <div class="p-4">
        <button type="button" (click)="deletePosition()" class="btn btn-dark">
          Delete
        </button>
      </div>
    </div>
    <div class="p-4 mt-4 card-footer">
      <div class="d-flex flex-row justify-content-sm-between">
        <h3>Total price: <b>50.00€</b></h3>
        <button routerLink="" routerLinkActive="active" class="btn btn-dark">Checkout</button>
      </div>
    </div>
  </div>
</div>
