<!-- TODO: Change layout to tables?-->

<div class="container-fluid pt-4 mt-4">
  <div class="empty text-center pt-4 m-4" *ngIf="products.length == 0">
    <h1>There are no items in the cart!</h1>
  </div>
  <div class="pt-4 mt-4" *ngIf="products.length > 0">
    <div *ngFor="let product of products"
      class="border box-shadow p-4 mb-4 d-flex flex-row align-items-center justify-content-sm-between">
      <!-- <div class="col-2 p-4 text-center">
        <img class="img-responsive" [src]="product.photo[0]" (error)="width="120" height="80" />
      </div> -->
      <div class="text-md-left col">
        <h2 class="product-name">
          <strong>{{ product?.name }}</strong>
        </h2>
        <h2>
          <small>{{ product?.country }}</small>
        </h2>
      </div>
      <div class="d-flex flex-column p-4">
        <div class="">
          <h3>
            {{product?.cartCount}} x {{ product?.price }} zł = {{product?.price * product?.cartCount}} zł
          </h3>
        </div>
      </div>
      <div class="ml-2 mr-2 d-flex flex-column">
        <button class="btn btn-dark" (click)="inc(product)">+</button>
        <button [ngStyle]="{'visibility': product.cartCount > 0 ? 'visible' : 'hidden' }" class=" btn
              btn-dark" (click)="dec(product)">-</button>
      </div>
      <div class="p-4">
        <button type="button" (click)="delete(product)" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex flex-row justify-content-sm-between align-items-start">
        <h4>Total price: {{ totalPrice() }} zł</h4>
        <button (click)="checkout()" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</div>
