<div class="card text-white bg-dark">
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Price</h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input type="number" class="form-control" placeholder="0zł" min="0" />
          </div>
          <div class="form-group col-md-6 text-right">
            <label>Max</label>
            <input min="0" type="number" class="form-control" placeholder="100zł" />
          </div>
        </div>
      </div>
      <!-- card-body.// -->
    </div>
  </article>
  <!-- card-group-item.// -->
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Data</h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <div class="form-group">
          <label>Start</label>
          <input type="date" class="form-control" />
        </div>
        <div class="form-group">
          <label>End</label>
          <input type="date" class="form-control" />
        </div>
      </div>
      <!-- card-body.// -->
    </div>
  </article>
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Rating</h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input type="number" class="form-control" placeholder="0" min="0" max="5" />
          </div>
          <div class="form-group col-md-6 text-right">
            <label>Max</label>
            <input type="number" class="form-control" placeholder="10" max="5" min="0" />
          </div>
        </div>
      </div>
      <!-- card-body.// -->
    </div>
  </article>
  <article class="card-group-item">
    <header class="card-header">
      <h6 class="title">Destination</h6>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <div class="form-group">
          <label>Search</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <!-- card-body.// -->
    </div>
  </article>
  <!-- card-group-item.// -->
</div>
