<div class="card text-white bg-dark">
  <form novalidate [formGroup]="filterForm">
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Price</h6>
      </header>
      <div class="filter-content bg-secondary">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Min</label>
              <input type="number" class="form-control" formControlName="priceMin" min="0" />
            </div>
            <div class="form-group col-md-6 text-right">
              <label>Max</label>
              <input min="0" type="number" class="form-control" formControlName="priceMax" />
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Date</h6>
      </header>
      <div class="filter-content bg-secondary">
        <div class="card-body">
          <div class="form-group">
            <label>Start</label>
            <input type="date" class="form-control" formControlName="dateMin" />
          </div>
          <div class="form-group">
            <label>End</label>
            <input type="date" class="form-control" formControlName="dateMax" />
          </div>
        </div>
      </div>
    </article>
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Seats</h6>
      </header>
      <div class="filter-content bg-secondary">
        <div class="card-body">
          <div class="form-group">
            <label>Left</label>
            <input type="number" class="form-control" min="0" formControlName="seatsLeft" />
          </div>
        </div>
      </div>
    </article>
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Rating</h6>
      </header>
      <div class="filter-content bg-secondary">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Min</label>
              <input type="number" class="form-control" min="0" max="5" formControlName="ratingMin" />
            </div>
            <div class="form-group col-md-6 text-right">
              <label>Max</label>
              <input type="number" class="form-control" max="5" min="0" formControlName="ratingMax" />
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Destination</h6>
      </header>
      <div class="filter-content bg-secondary">
        <div class="card-body">
          <div class="form-group">
            <label>Search</label>
            <input type="text" class="form-control" formControlName="destination" />
          </div>
        </div>
      </div>
    </article>
  </form>
</div>
