<div class="container border box-shadow">
  <div class="d-flex flex-column align-items-center p-4">
    <div class="title mb-4">
      <h3>Register</h3>
    </div>
    <form class="login-form" [formGroup]="registerForm">
      <div class="form-group">
        <label for="fname">Name</label>
        <input type="text" class="form-control" formControlName="name" id="fname" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pass1">Password</label>
          <input type="password" class="form-control" formControlName="password" id="pass1">
        </div>
        <div class="form-group col-md-6">
          <label for="pass2">Repeat password</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="pass2">
        </div>
      </div>
      <div class="button text-center m-4">
        <button class="btn btn-dark" type="submit" [disabled]="!registerForm.valid"
          (click)="onSubmit()">Register</button>
      </div>
    </form>
    <h6>
    </h6>
  </div>
</div>